//////////mediaqueries //////////////mobiledevice////////////
body{
    margin: 0px;
    background-color: #ebe8e8;
}
.banner{
    width: 100%;
    height: 85vh;
    background-image:linear-gradient(-60deg,#ff4457  0%,  #ff957d 100%);
    border-radius: 0px 0px 0px 100px;
    

.inner-banner{
display: flex;
border-radius: 0px 0px 0px 100px;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
background-image: url(../images/bg-pattern-intro.svg);
background-size: 330vw;
background-repeat: no-repeat;
background-position: -50vh -70vw;


.navbar-title-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-top: 20px;
    .title{
       
        width: 50%;
        h5{
            font-family: 'Overpass', sans-serif;
            color: white;
           font-size: 9vw;
        }
        
    }
    .burger{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        width: 50%;
        height: auto;
        cursor: pointer;
        .inner-burger{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 20%;
            .line{
                width: 100%;
                height: 0.4px;
                background-color: white;
                border: 1px solid white;
                border-radius: 1px;
                margin: 2px;
                margin-top: 4px;
            }

        }

        .popupburger{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: white;
            border-radius: 5px;
            position: absolute;
            top:70px;
            width: 80vw;
            height: 0px;
            transition: all 0.15s ease-in-out;

            .nav-burger{
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transition: all 0.15s ease-in-out;

                .product-burger{
                    display: flex;
                    align-items:center;
                    justify-content:center ;
                    flex-direction: column;
                    .inner-product{
                        display: flex;
                        align-items:center;
                        justify-content:center ;
                        flex-direction: row;
                        h5{
                            font-family: 'Overpass', sans-serif;
                            color: hsl(208, 49%, 24%);
                            font-weight: 300;
                            font-size: 5vw;
                            margin: 25px; 
                        }
                    }
                    .roll{
                        display: flex;
                        align-items:center;
                        justify-content:center ;
                        flex-direction: column;
                        background-color: #f2f2f2f2;
                        width: 70vw;
                        border-radius: 10px;
                        height: 0px;
                        transition: all 0.15s ease-in-out;

                        a{
                            display: none;
                            font-family: 'Overpass', sans-serif;
                            color: hsl(208, 49%, 24%);
                            font-weight: 300;
                            font-size: 4vw;
                            margin: 10px;   
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    

                }
            }
            .separeur{
                display: none;
                width: 80%;
                height: 1px;
                background-color: #d6d5d5f2;
                margin-top: 10px;
                margin-bottom: 30px;
                transition: all 0.15s ease-in-out;

            }
            .login-signup-burger{
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                transition: all 0.15s ease-in-out;

                .login-burger{
                    width: 50%;
                    height: auto;
                    background-color: transparent;
                    display: flex;
                    align-items:center ;
                    justify-content: center;
                    h5{
                        font-family: 'Overpass', sans-serif;
                        color: hsl(208, 49%, 24%);
                        font-weight: 300;
                        font-size: 5vw;
                        margin: 15px; 
                    }

                }
                .signup-burger{
                    margin-top: 10px;
                    width: 50%;
                    height: auto;
                    background-color: hsl(208, 49%, 24%);
                    margin-bottom: 30px;
                    display: flex;
                    align-items:center ;
                    justify-content: center;
                    border-radius: 50px;
                    background-image:linear-gradient(-60deg,#ff4457  0%,  #ff957d 100%);

                    h5{
                        font-family: 'Overpass', sans-serif;
                        color: white;
                        font-weight: 300;
                        font-size: 5vw;
                        margin: 15px; 
                    }

                }
            }
        }
        .popmenu{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: white;
            border-radius: 5px;
            position: absolute;
            top:70px;
            width: 80vw;
            height: 75vh;
            box-shadow:0px 15px 13px 14px #35353528;
            .nav-burger1{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .product-burger{
                    display: flex;
                    align-items:center;
                    justify-content:center ;
                    flex-direction: column;
                    .inner-product{
                        display: flex;
                        align-items:center;
                        justify-content:center ;
                        flex-direction: row;
                        h5{
                            font-family: 'Overpass', sans-serif;
                            color: hsl(208, 49%, 24%);
                            font-weight: 300;
                            font-size: 5vw;
                            margin: 25px; 
                        }
                        .ar{
                            transition: all 0.15s ease-in;
                        }
                       .arrow-connect-activated{
                           transform: rotate(180deg);
                       }
                    }
                    .roll{
                        display: flex;
                        align-items:center;
                        justify-content:center ;
                        flex-direction: column;
                        background-color: #f2f2f2f2;
                        width: 70vw;
                        border-radius: 10px;
                        a{
                            font-family: 'Overpass', sans-serif;
                            color: hsl(208, 49%, 24%);
                            font-weight: 300;
                            font-size: 4vw;
                            margin: 10px;   
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .roll-activated{
                        display: flex;
                        align-items:center;
                        justify-content:center ;
                        flex-direction: column;
                        background-color: #f2f2f2f2;
                        width: 70vw;
                        border-radius: 10px;
                        height: 100px;
                        a{
                            display: block;
                            font-family: 'Overpass', sans-serif;
                            color: hsl(208, 49%, 24%);
                            font-weight: 300;
                            font-size: 4vw;
                            margin: 10px;   
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    

                }
            }
            .separeur{
                display: block;
                width: 80%;
                height: 1px;
                background-color: #d6d5d5f2;
                margin-top: 10px;
                margin-bottom: 30px;
            }
            .login-signup-burger1{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                .login-burger{
                    width: 50%;
                    height: auto;
                    background-color: transparent;
                    display: flex;
                    align-items:center ;
                    justify-content: center;
                    h5{
                        font-family: 'Overpass', sans-serif;
                        color: hsl(208, 49%, 24%);
                        font-weight: 300;
                        font-size: 5vw;
                        margin: 15px; 
                    }

                }
                .signup-burger{
                    margin-top: 10px;
                    width: 50%;
                    height: auto;
                    background-color: hsl(208, 49%, 24%);
                    margin-bottom: 30px;
                    display: flex;
                    align-items:center ;
                    justify-content: center;
                    border-radius: 50px;
                    background-image:linear-gradient(-60deg,#ff4457  0%,  #ff957d 100%);

                    h5{
                        font-family: 'Overpass', sans-serif;
                        color: white;
                        font-weight: 300;
                        font-size: 5vw;
                        margin: 15px; 
                    }

                }
            }
        }
    }
    .navbar{
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 50%;

    }
    .login-signup{
        display: none;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        width: 20%;
        margin-left: 9%;
      
    }
}
     .quotes{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
         width: 100%;
         height: 30%;
         margin-top: 20%;
        
         .quote1m{
            font-family: 'Overpass', sans-serif;
                   color: white;
                   font-size: 9vw;
                   margin: 5px;  
                   font-weight: 300;
                   
                   
         }
         .quote1{
             display: none;
         }
         h5{
            font-family: 'Overpass', sans-serif;
            color: white;
            font-weight: 300;
            font-size: 4vw;
            margin: 5px; 
            
        width: 80%;
         }
    
    }
    .start-learn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      
        width: 100%;
        height: auto;
        .inner-start-learn{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 80% ;
            .start{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            border-radius: 20px;
            background-color: white;
            border: 1px solid white;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            margin: 2%;
            h5{
                font-family: 'Overpass', sans-serif;
                   color: #ff545d;
                   font-size: 4vw;
                   margin: 10px;  
            }
            &:hover{
                transform: scale(1.05);
                background-color: #fc99a1;
                border: 1px solid #fc99a1 ;
                h5{
                    color: white;
                }
            }

            }
            .learn{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                cursor: pointer;
                border: 1px solid white;
                border-radius: 20px;
                margin: 2%;
                transition: all 0.1s ease-in-out;
                h5{
                    font-family: 'Overpass', sans-serif;
                       color: white;
                       font-size: 4vw;
                       margin: 10px;  
                }
                &:hover{
                    transform: scale(1.05);
                    background-color: white;
                    h5{
                        color: #ff4457;
                    }
                }
            }
        }
    }
}
}

.intro{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    .intro-title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10%;
        margin-top: 20px;
        h1{
            font-family: 'Overpass', sans-serif;
        
                   color:  hsl(208, 49%, 24%);
                   font-size: 7vw;
                   margin: 5px;   
                   margin-top: 20px;
        }
    }
    .intro-img{
        width: 100%;
        img{
            width: 100%;
        }
       
      
    }
    .container-txt{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        .txt{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin-right: 0px;
            
           
            .txt1{
                display: flex;
                align-items: center;
                width: 90%;
                flex-direction: column;
                margin-right: 0px;
               
                
               .tit1{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                flex-direction: row;
                h5{
                    font-family: 'Overpass', sans-serif;
                        text-align: center;
                           color:  hsl(208, 49%, 24%);
                           font-size: 7vw;
                          margin-bottom: 10px   ; 
                          margin-right: 0px; 
                }
               } 
               p{
                font-family: 'Overpass', sans-serif;
                font-weight: 300;
                text-align: center;
                margin-right: 0px;
                       color:  hsl(208, 49%, 24%);
                       font-size: 5vw;
                      margin-bottom: 10px   ;    
               }
            }
        }
    }
    
}

.state{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #393a58;
    background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 150%    ;
    background-position:50% -700% ;
    width: 100%;
    height: 90vh;
    border-radius: 0px 70px 0px;
    margin-top: 200px;
    .state-img{
        position: absolute;
        top: -33%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 68%;
        img{
            height: auto;
            width: 100%;
        }
    }
    .state-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        
        margin-top: 100px;
       .state-txt-tit1{
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: row;
           width: 100%;
           
           h5{
            font-family: 'Overpass', sans-serif; 
            color:  white;
            font-size:7vw;
           margin-bottom: 10px   ;  
           text-align: center;
           }
       }
       .state-txt-txt1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        
        p{
         font-family: 'Overpass', sans-serif; 
         color:   hsl(240, 2%, 79%);
         font-size: 5vw;
         font-weight: lighter;
        margin-bottom: 10px   ; 
        line-height: 30px;
            } 
       }
    }
}

.free{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180vh;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    .free-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
       background-image: url(../images/illustration-laptop-mobile.svg);
       background-position: 50%;
       background-repeat: no-repeat;
       background-size: 120%;
    }
    .free-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .inner-free-txt{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            .inner-free-txt-tit{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                width: 100%;
                h5{
                    font-family: 'Overpass', sans-serif; 
                    color:  #393a58;
                    font-size: 7vw;
                    margin-bottom: 10px   ;  
                }
            }
           
            p{
                font-family: 'Overpass', sans-serif; 
                color:   #393a58;
                font-size: 5vw;
                font-weight: lighter;
               margin-bottom: 10px   ; 
               line-height:25px;
               margin-left: 10px;

                   } 

        }
    
    }
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
   
    background-color: hsl(240, 10%, 16%);
    border-radius: 0px 70px 0px 0px;
    .footer-tit{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        

        h4{
            font-family: 'Overpass', sans-serif;
            color: white;
           font-size: 7vw;
           margin-top: 50px;
        }
    }
    .footer-section{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        
        h4{
            font-family: 'Overpass', sans-serif;
            color: white;
           font-size: 5vw;
           margin-top: 70px;
           width: 30%;
           text-align: center;
        }
        a{
            font-family: 'Overpass', sans-serif;
            color:hsl(240, 2%, 79%);
           font-size: 4vw;
           margin-top: 20px;
           text-decoration: none;
           width: 30%;
           text-align: center;
           &:hover{
               text-decoration: underline;
           }
           
           
        }
    }
}